
*.save

Sick Love/errors\.txt

Sick Love/game/cache/

*.rpyc

Sick Love/game/saves/

Sick Love/log\.txt

Sick Love/traceback\.txt

Sick Love/project\.json

SickLove-1\.0-dists/SickLove-1\.0-linux\.tar\.bz2

SickLove-1\.0-dists/SickLove-1\.0-pc\.zip

*.txt

*.rpyb

*.json
